body {
    margin: 0;
    padding: 0;
    background-color: #d9d2cc;
}
nav{
    background-color: #d9d2cc;
}

#navbar {
    background-color: #d9d2cc !important;
}

.nav-logo {
    font-family: DM Serif Display, serif;
}
ul li{
    margin-left: 60px;
}
ul li a{
    text-transform: uppercase;
    font-size: 18px;
    color:#fff;
    text-decoration: none;
}
ul li a:hover,
ul li a:visited {
    color:purple;
}
.hero .waviy{
    height: 100px;
    background-color: #b8a89a;
    position: relative;
}
.waviy {
    position: relative;
    text-align: center;
}
.waviy span {
    display: inline-block;
    font-size: 40px;
    animation: flip 2s;
    animation-delay: calc(.2s *var (--i));
}
@keyframes flip {
    0%,80%{
        transform: rotateY(360deg)
    }
}
.container {
    /* background-color: #b8a89a; */
    margin-top: 40px;
}
.container-carousel {
    width: 600px;
}
.container-carousel carousel {
    align-content: center;
}

#pic2-holder {
    display: flex;
    justify-content: center;
}

#pic2 {
    opacity: 0.5;
}
#piccards {
    display: flex;
    justify-content: center;
}
.footer p {
    height: 200 px;
    background-color:#b8a89a;
    text-align: center;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
}

#introholder {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
#myintro {
    width: 30%;
}
#mypicture {
    display: flex;
    justify-content: center;
    width: 40%;
}
#interests-holder {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 100px;
}
/*.card{
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
/* padding: 14px 80px 18px 36px; */
/*    cursor: pointer;
}

.card:hover{
    transform: scale(1.05);
box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.card-img-overlay {*/
    /* background: rgba(0, 0, 0, 0.5); */
/*    color: yellow;
    transition: all 0.3s ease;
    opacity: 0;
}

.card:hover .card-img-overlay {
    opacity: 0.5;
}*/